<ul class="race">
  <li *ngFor="let race of races" [class.racing]="race.isRacing">
    <table>
      <tr>
        <td>
          <img [src]="race.image">
        </td>
        <td>
          <h2>{{race.name}} {{race.entryFee | currency:'USD':true}}</h2>
          <p>{{race.date | date:'MMM d, y, h:MM a'}}</p>
          <p>{{race.about}}</p>
          <button *ngIf="!race.isRacing">Enter Race</button>
          <h3 *ngIf="race.isRacing">Already Racing</h3>
        </td>
      </tr>
    </table>
  </li>
</ul>
<h2>Total cost: {{totalCost() | currency:'BRL':true}}</h2>